<a href="https://colab.research.google.com/github/IR-1401-2-project/ClassProjects/blob/main/session_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Information Retrieval


Assignment 1

Team members:

1: Tooraj *Taraz*

2: MohammadReza Tashakkori

3: Iman Jalali

4: Seyed MohammadTaha Tabatabayi

In [ ]:
!pip install hazm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: hazm in /usr/local/lib/python3.8/dist-packages (0.7.0)
Requirement already satisfied: nltk==3.3 in /usr/local/lib/python3.8/dist-packages (from hazm) (3.3)
Requirement already satisfied: libwapiti>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from hazm) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from nltk==3.3->hazm) (1.15.0)

In [ ]:
import hazm
import nltk
import pandas

In [ ]:
!wget https://github.com/mohamad-dehghani/persian-pdf-books-dataset/raw/master/final_books.xlsx

--2023-02-21 08:08:34--  https://github.com/mohamad-dehghani/persian-pdf-books-dataset/raw/master/final_books.xlsx
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/mohamad-dehghani/persian-pdf-books-dataset/master/final_books.xlsx [following]
--2023-02-21 08:08:34--  https://raw.githubusercontent.com/mohamad-dehghani/persian-pdf-books-dataset/master/final_books.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1380625 (1.3M) [application/octet-stream]
Saving to: ‘final_books.xlsx.1’

final_books.xlsx.1  100%[===================>]   1.32M  --.-KB/s    in 0.01s

2023-02-21 08:08:35 (119 MB/s) - ‘final_books.xlsx.1’ saved [1380625/1380625]

In [ ]:
df_persian = pandas.read_excel('/content/final_books.xlsx')
df_persian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2824 entries, 0 to 2823
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     2824 non-null   object
 1   date      2824 non-null   object
 2   content   2441 non-null   object
 3   category  2824 non-null   object
 4   author    2824 non-null   object
 5   comments  2824 non-null   object
dtypes: object(6)
memory usage: 132.5+ KB

In [ ]:
df_persian.head()

,title,date,content,category,author,comments
0,بهترین درسهای زندگی‎,۲ دی ۱۳۹۸,تی دی جیکس یک کشیش، نویسنده، سخنران آمریکایی ...,روانشناسی,سارا رزولت,بدون دیدگاه
1,از سلاجقه تا صفویه,۱ دی ۱۳۹۸,کتاب حاضر که اینک در دسترس خوانندگان محترم قر...,تاریخ ایران,نصرت الله مشکوتی,بدون دیدگاه
2,سرگذشت رضاشاه,۲۹ آذر ۱۳۹۸,دکتر فتح الله بینا تحصیلات خود را در رشته پزش...,تاریخ ایران,فتح الله بینا,بدون دیدگاه
3,سیری نوین در فرگشت و اسرار مغز,۲۸ آذر ۱۳۹۸,مجموعه پیش رو مطالبیست که در گروه Evolution ت...,علم و دانش,مانی منوچهری,بدون دیدگاه
4,آسمان پرستاره,۲۶ آذر ۱۳۹۸,کتاب آسمان پرستاره نوشته‌ی کتی هایدن، به زبان...,کودکان و نوجوانان,کتی هایدن,بدون دیدگاه

In [ ]:


!wget http://www.cs.cmu.edu/~ark/personas/data/MovieSummaries.tar.gz
!tar -xf MovieSummaries.tar.gz

--2023-02-21 08:08:36--  http://www.cs.cmu.edu/~ark/personas/data/MovieSummaries.tar.gz
Resolving www.cs.cmu.edu (www.cs.cmu.edu)... 128.2.42.95
Connecting to www.cs.cmu.edu (www.cs.cmu.edu)|128.2.42.95|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48002242 (46M) [application/x-gzip]
Saving to: ‘MovieSummaries.tar.gz.1’

MovieSummaries.tar. 100%[===================>]  45.78M  7.11MB/s    in 6.6s

2023-02-21 08:08:42 (6.89 MB/s) - ‘MovieSummaries.tar.gz.1’ saved [48002242/48002242]

In [ ]:
df_english = pandas.read_csv("/content/MovieSummaries/plot_summaries.txt", delimiter = "\t",names=["id","text"])
df_english.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42303 entries, 0 to 42302
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      42303 non-null  int64
 1   text    42303 non-null  object
dtypes: int64(1), object(1)
memory usage: 661.1+ KB

In [ ]:
df_english.head()

         id                                               text
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...

In [ ]:
from __future__ import unicode_literals
from hazm import Normalizer

In [ ]:
normalizer = Normalizer()

In [ ]:
import numpy as np

In [ ]:
normalized_persian_tokens = []
all_punct = '''،!()-[]{};:'"\,<>./؟?@#$%^&*_~'''
for index, row in df_persian.iterrows():
  content = row["content"]
  try:
    if len(content) < 1:
      continue
  except:
    continue
  for p in all_punct:
    content = content.replace(p, '')
  normalized_content = normalizer.normalize(content)
  normalized_persian_tokens.append((index, normalized_content))



normalized_persian_tokens[0]

(0,
 ' تی دی جیکس یک کشیش نویسنده سخنران آمریکایی است سمینار\u200cهای تی دی جیکس اغلب انگیزشی و مذهبی است به همین دلیل او در ایران به سخنران انگیزشی سیاه پوست لقب گرفته است در زندگینامه تی دی جیکس شاهد فعالیت\u200cهای مختلفی هستیم که هر کدام از آنها خواهان تجربه و تلاش زیادی هستند مواردی که اعلام شد تنها بخشی از فعالیت\u200cهای جیکس است او هم اکنون کشیش خانه پاتر است و مخاطبان بسیاری دارد موعظه\u200cهای و سخنرانی\u200cها تی دی جیکس در کلیسا از شبکه\u200cهای تلویزیونی و رادیویی مختلف پخش می\u200cشوند این کتاب گزیده\u200cای از سخنرانی\u200cهای آقای جیکز یکی از بهترین سخنران\u200cهای انگیزشی در دنیا است امید است با مطالعه دقیق و باور عمیق تغییری مثبت در زندگیتان ایجاد شود')

In [ ]:
from hazm import sent_tokenize, word_tokenize

In [45]:
tokenized_normal_sent_persian = []
for index, normalized_sent in normalized_persian_tokens:
  sent_tokens = sent_tokenize(normalized_sent)
  word_tokens = word_tokenize(normalized_sent)
  tokenized_normal_sent_persian.append((index, sent_tokens, word_tokens))

ersian_final_df = pandas.DataFrame(tokenized_normal_sent_persian, columns =['index in original persian df', 'sent_token', 'word_token'])
persian_final_df.head()

# persian_final_df.to_csv("persian_token.csv")

,index in original persian df,sent_token,word_token
0,0,[تی دی جیکس یک کشیش نویسنده سخنران آمریکایی اس...,"[تی, دی, جیکس, یک, کشیش, نویسنده, سخنران, آمری..."
1,1,[کتاب حاضر که اینک در دسترس خوانندگان محترم قر...,"[کتاب, حاضر, که, اینک, در, دسترس, خوانندگان, م..."
2,2,[دکتر فتح الله بینا تحصیلات خود را در رشته پزش...,"[دکتر, فتح, الله, بینا, تحصیلات, خود, را, در, ..."
3,3,[مجموعه پیش رو مطالبیست که در گروه Evolution ت...,"[مجموعه, پیش, رو, مطالبیست, که, در, گروه, Evol..."
4,4,[کتاب آسمان پرستاره نوشته‌ی کتی هایدن به زبانی...,"[کتاب, آسمان, پرستاره, نوشته‌ی, کتی, هایدن, به..."

In [ ]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
en_tokenized = pandas.DataFrame([tokenizer.tokenize(sentence) for sentence in df_english["text"]])
en_tokenized.to_csv("English Tokenized.csv")

,0,1,2,3,4,5,6,7,8,9,...,5006,5007,5008,5009,5010,5011,5012,5013,5014,5015
0,Shlykov,a,hard,working,taxi,driver,and,Lyosha,a,saxophonist,...,None,None,None,None,None,None,None,None,None,None
1,The,nation,of,Panem,consists,of,a,wealthy,Capitol,and,...,None,None,None,None,None,None,None,None,None,None
2,Poovalli,Induchoodan,is,sentenced,for,six,years,prison,life,for,...,None,None,None,None,None,None,None,None,None,None
3,The,Lemon,Drop,Kid,a,New,York,City,swindler,is,...,None,None,None,None,None,None,None,None,None,None
4,Seventh,day,Adventist,Church,pastor,Michael,Chamberlain,his,wife,Lindy,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42298,The,story,is,about,Reema,a,young,Muslim,schoolgirl,in,...,None,None,None,None,None,None,None,None,None,None
42299,In,1928,Hollywood,director,Leo,Andreyev,looks,through,photographs,for,...,None,None,None,None,None,None,None,None,None,None
42300,American,Luthier,focuses,on,Randy,Parsons,transformation,from,aspiring,musician,...,None,None,None,None,None,None,None,None,None,None
42301,Abdur,Rehman,Khan,a,middle,aged,dry,fruit,seller,from,...,None,None,None,None,None,None,None,None,None,None
42302,1940,Operation,Dynamo,has,just,taken,place,From,the,newly,...,None,None,None,None,None,None,None,None,None,None